
<div class="fixed z-10 inset-0 overflow-y-auto hidden" id="back_message_dialog_modal">
    <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
      <!-- Background overlay -->
      <div class="fixed inset-0 transition-opacity">
        <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
      </div>
  
      <!-- Dialog box -->
      <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <!-- Content goes here -->
          <p class="mb-4">Thank you! Your file will be sent to your mail ID shortly.</p>
          <div class="flex justify-center">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-10"
              onclick="closeMessageModal()">Got it</button>
          </div>
        </div>
      </div>
    </div>
  </div>