<nav class="bg-white py-4 shadow-md" id="nav">

    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">

      <div class="flex justify-between">

        <div class="flex">

          <a href="/" class="flex-shrink-0 flex items-center">

            

            <span class="text-gray-700 text-lg font-semibold ml-2">Transciptor Tool</span>

          </a>
          <a href="/text-to-speech" class="flex-shrink-0 mx-2 flex items-center">

            

            <span class="text-gray-700 text-lg 1 ml-2">Text To Speech</span>

          </a>

        </div>
      {% if logged_in %}
        <div >


          <h3 style="margin-right:15px;">Welcome <strong>{{username}}</strong></h3>

          <i class="fas fa-sign-out-alt" ></i>

          <a href="{{url_for('logout')}}" class="text-gray-500 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium">

            

            <span class="ml-2">Logout</span>

          </a>

          {% else %}



          <i class="fas fa-sign-in-alt"></i>

          <a href="{{url_for('login')}}" class="text-gray-500 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium">

            

            <span class="ml-2">Login/Signup</span>



          </a>

          {% endif %}

        </div>

      </div>

    </div>

  </nav>