<div class="fixed z-10 inset-0 overflow-y-auto hidden" id="send_rec_email_model">
    <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
      <!-- Background overlay -->
      <div class="fixed inset-0 transition-opacity">
        <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
      </div>
  
      <!-- Dialog box -->
      <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <!-- Content goes here -->
          <div class="flex justify-center">

            <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_usiohiuz.json" background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop controls autoplay></lottie-player>
            <h5 style="margin-top:10%;"class="inline-block animate-pulse  ">Recorded file is seemes to be bigger, we recommend you to choose send email option below ,As soon as the trasncription gets completed ,file will get delivered to your registered mail id . It may take several minutes</h5>
              
          </div>
          
          <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
              onclick="closeMessage();">Send via mail </button>
            
        </div>
      </div>
    </div>
  </div>